
.Rhistory
DeathWordList.txt
.Rhistory
.Rproj.user/D4A43ED2/pcs/files-pane.pper
.Rproj.user/D4A43ED2/pcs/source-pane.pper
.Rproj.user/D4A43ED2/pcs/windowlayoutstate.pper
.Rproj.user/D4A43ED2/pcs/workbench-pane.pper
.Rproj.user/D4A43ED2/rmd-outputs
.Rproj.user/D4A43ED2/saved_source_markers
.Rproj.user/D4A43ED2/sources/prop/0CB36861
.Rproj.user/D4A43ED2/sources/prop/108B2568
.Rproj.user/D4A43ED2/sources/prop/278054C6
.Rproj.user/D4A43ED2/sources/prop/9DC4EDBE
.Rproj.user/D4A43ED2/sources/prop/A1A47F97
.Rproj.user/D4A43ED2/sources/prop/D3DEACBB
.Rproj.user/D4A43ED2/sources/prop/FB359643
.Rproj.user/D4A43ED2/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
